.gpt3__header {
  display: flex;
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-self: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -2.48px;
}
.gpt3__header-content p {
  color: #81afdd;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.gpt3__header-content__input input {
  flex: 2;

  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  border-radius: 5px 0px 0px 5px;
  background: var(--color-footer);
  color: #3d6184;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  border: 2px solid var(--color-footer);

  padding-left: 2rem;
}

.gpt3__header-content__input button {
  flex: 0.6;
  background: #ff4820;
  width: 100%;
  min-height: 50px;
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;

  cursor: pointer;
  outline: none;
  padding: 0 1rem;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gpt3__header-content__people {
  width: 100%;
  display: flex;

  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.gpt3__header-content__people img {
  width: 182px;
  height: 35.997px;
}
.gpt3__header-content__people p {
  margin-left: 1rem;
  margin-top: 0;

  color: #fff;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 37.611px;
}
